<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-9">
	<title>Hello socket.io</title>
	<script src="http://localhost:8080/socket.io/socket.io.js"></script>

	<script>
		var chatSocket = io.connect('http://localhost:8080/chat?auth=hehehe');
		var username = prompt('Vui long nhap ho ten');

		chatSocket.emit('send:username', {username: username});

		chatSocket.on('hello:user', function (){
			console.log('Hello socket.io ' + username);
		});

		chatSocket.on('new:user', function (data){
			alert('New user : ' + data.username);
		});


		chatSocket.on('new:message', function (data){
			console.log('New message', data);
		});

		var roomName = '';

		var joinRoom = function (){
			roomName = prompt('Nhap ten room : ');
			console.log('joined room '+ roomName);

			chatSocket.emit('join:room', {room : roomName});
		}

		var message = '';
		var sendMessage = function (){
			message = prompt('Nhap tin nhan');
			chatSocket.emit('send:message', {
				content: message,
				from: username,
				room: roomName
			})
		}



	</script>

</head>
<body>
	<p>Hello world</p>

	<button onclick="joinRoom()">Join a room </button>
	<button onclick="sendMessage()">Send message to room </button>
</body>
</html>