<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hello socket.io</title>
	<script src="http://localhost:8080/socket.io/socket.io.js"></script>

	<script>
		var chatSocket = io.connect('http://localhost:8080/chat?auth=hehehe');
		var username = prompt('Vui long nhap ho ten');

		chatSocket.emit('send:username', {username: username});

		chatSocket.on('hello:user', function (){
			console.log('Hello socket.io ' + username);
		});

		chatSocket.on('new:user', function (data){
			alert('New user : ' + data.username);
		});





	</script>

</head>
<body>
	<p>Hello world</p>
</body>
</html>